/* FONTS */
$font-main: 'SF Pro Display', sans-serif;
$font-popup-filter: 'Roboto', sans-serif;

/* COLORS */

$black: #1A233B;
$blue: #1F50FE;
$blue-hovered: #315EFE;
$blue-pressed: #3A65FE;
$nav-hover: #D9E2FF;
$nav-pressed: #BCCAFF;
$footer-bg: #0E1423;

//SIZE

$container: 1710px;
$container-large: 1774px;

/* BRAKEPOINTS */

$xxxl: 1919px;
$xxl: 1439px;
$xl: 1279px;
$lg: 991px;
$md: 574px;
$sm: 374px;
$xs: 0;
